Repository moevm/nosql2h21-cats-memecached, pull requests merged in 2021-09, with the labels that each got.

#11 Add cats list
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.png
  frontend/public/index.html
  frontend/public/robots.txt
  frontend/src/404/NoMatch.css
  frontend/src/404/NoMatchPage.jsx
  frontend/src/app/App.jsx
  frontend/src/app/PageRoot.css
  frontend/src/app/PageRoot.jsx
  frontend/src/filters/Filters.jsx
  frontend/src/filters/LabeledSliderFilter.css
  frontend/src/filters/LabeledSliderFilter.jsx
  frontend/src/filters/SearchField.css
  frontend/src/filters/SearchField.jsx
  frontend/src/filters/filters-config.json
  frontend/src/filters/manager.jsx
  frontend/src/fonts/FontAwesome.otf
  frontend/src/fonts/fontawesome-webfont.ttf
  frontend/src/fonts/fontawesome-webfont.woff
  frontend/src/fonts/fontawesome-webfont.woff2
  frontend/src/index.js
  frontend/src/list/Cat.css
  frontend/src/list/CatItem.jsx
  frontend/src/list/CatModel.js
  frontend/src/list/CatsList.css
  frontend/src/list/CatsList.jsx
  frontend/src/list/CatsManager.js
  frontend/src/list/all-cats.json
  frontend/src/reportWebVitals.js
  frontend/src/search/SearchPage.css
  frontend/src/search/SearchPage.jsx
  frontend/src/setupTests.js
  frontend/src/uikit.min.css
  frontend/src/utils/Notifier.js
Labels: frontend

#5 Init frontend base project structure
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.png
  frontend/public/index.html
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: frontend

#2 Created basic package structure for rest api backend
  backend/.gitignore
  backend/pom.xml
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/NosqlCatsMemecachedApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/info/moevm/nosqlcatsmemecached/NosqlCatsMemecachedApplicationTests.java
  backend/src/test/java/info/moevm/se/nosqlcatsmemecached/NosqlCatsMemecachedApplicationTests.java
Labels: backend

#16 Add cat detailed page
  frontend/src/app/App.jsx
  frontend/src/details/CatDetailsPage.css
  frontend/src/details/CatDetailsPage.jsx
  frontend/src/list/CatItem.jsx
  frontend/src/list/CatModel.js
  frontend/src/list/CatsList.jsx
  frontend/src/list/CatsManager.js
  frontend/src/search/SearchPage.css
Labels: frontend

#18 Add initial layout for auto tests
  autotests/pom.xml
  autotests/src/main/java/info/moevm/se/nosqlcatsmemecachedautotests/page/element/CatItem.java
  autotests/src/main/java/info/moevm/se/nosqlcatsmemecachedautotests/page/element/CatList.java
  autotests/src/main/java/info/moevm/se/nosqlcatsmemecachedautotests/page/object/AbstractPage.java
  autotests/src/main/java/info/moevm/se/nosqlcatsmemecachedautotests/page/object/IndexPage.java
  autotests/src/test/java/info/moevm/se/nosqlcatsmemecachedautotests/RunCucumberTests.java
  autotests/src/test/java/info/moevm/se/nosqlcatsmemecachedautotests/hooks/CucumberHook.java
  autotests/src/test/java/info/moevm/se/nosqlcatsmemecachedautotests/steps/AbstractStep.java
  autotests/src/test/java/info/moevm/se/nosqlcatsmemecachedautotests/steps/GivenStep.java
  autotests/src/test/java/info/moevm/se/nosqlcatsmemecachedautotests/steps/ThenStep.java
  autotests/src/test/java/info/moevm/se/nosqlcatsmemecachedautotests/steps/WhenStep.java
  autotests/src/test/resources/allure.properties
  autotests/src/test/resources/info.moevm.se.nosqlcatsmemecachedautotests.features/Smoke.feature
  autotests/src/test/resources/testngconfigs/allTests.xml
Labels: testing
