Repository moevm/nosql2h21-cats-memecached, pull requests merged in 2021-11, with the labels that each got.

#32 Make backend great again
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/annotations/InjectMemcachedName.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/config/InjectMemcachedNameAnnotationBeanPostProcessor.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/config/MemcachedConfig.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/dao/CatsDaoImpl.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/models/cat/Cat.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/runners/MemcachedInitializationRunner.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/cat/CatUtils.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/CatsMemcachedClient.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/MemcachedConnectData.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/MemcachedUtils.java
  backend/src/main/resources/application.properties
  backend/src/test/java/info/moevm/se/nosqlcatsmemecached/controllers/CatControllerTests.java
  backend/src/test/java/info/moevm/se/nosqlcatsmemecached/integration/CatCRUDTests.java
  backend/src/test/java/info/moevm/se/nosqlcatsmemecached/utils/cat/CatUtilsTest.java
Labels: backend

#34 Docker compose of backend service and memcached
  backend/Dockerfile
  backend/src/main/resources/application.properties
  docker-compose.yml
Labels: CI/CD

#35 Cat filter by int values
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/config/WebConfiguration.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/controllers/CatsController.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/controllers/MemcachedController.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/dao/CatsDao.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/dao/CatsDaoImpl.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/models/cat/Cat.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/models/cat/CatFilter.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/models/cat/CatQuery.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/models/cat/Characteristics.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/models/cat/VitalStats.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/runners/MemcachedInitializationRunner.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/MemcachedUtils.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/exporters/CatsExporter.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/exporters/DumpMapExporterImpl.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/exporters/JsonCatsExporterImpl.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/importers/CatsImporter.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/importers/FromMapImporterImpl.java
  backend/src/main/java/info/moevm/se/nosqlcatsmemecached/utils/memcached/importers/JsonCatsImporterImpl.java
  backend/src/main/resources/all-cats-new.json
  backend/src/main/resources/test_cat.json
  backend/src/test/resources/all-cats.json
Labels: backend

#37 Connect frontend to backend with requests
  frontend/src/app/App.jsx
  frontend/src/config.json
  frontend/src/details/CatDetailsPage.jsx
  frontend/src/filters/Filters.jsx
  frontend/src/filters/filters-config.json
  frontend/src/filters/manager.jsx
  frontend/src/import/ImportPage.jsx
  frontend/src/list/CatModel.js
  frontend/src/list/CatsList.jsx
  frontend/src/list/CatsManager.js
  frontend/src/list/all-cats.json
  frontend/src/search/SearchPage.jsx
Labels: frontend

#42 Added docker integration for frontend
  docker-compose.yml
  frontend/Dockerfile
Labels: CI/CD

#44 Add insertion and export
  frontend/src/app/App.jsx
  frontend/src/filters/filters-config.json
  frontend/src/import/AddCatPage.jsx
  frontend/src/search/SearchPage.jsx
Labels: frontend
